.main-container {
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.tabs {
    max-width: 700px;
    margin: 50px auto;
    border: 2px solid #000;
}

.tabs__button {
    display: flex;
    margin-bottom: 40px;
}

.tab__button {
    width: 100%;
    height: 60px;
    color: #000;
}

.active__button {
    background-color: #444242;
}

.context__card  {
    padding: 20px 15px;
    width: 100%;
    height: 200px;
    display: none
}

.active__content {
    display: block;
}

