.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.sort-select {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0px;
}